.gridContainer {
    display:inline;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px; /* Espacio entre las tarjetas */
  }
  
  .loaderContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .historial-card {
    padding: 10px; /* Reduce el padding interno */
    margin: 5px 0; /* Ajusta el espacio entre tarjetas */
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegúrate de que la tarjeta ocupe todo el ancho disponible */
  }


  .cardContainer {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .historial-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(160, 160, 160);
    border: 1px rgb(255, 253, 253) solid;
  }

  .pantente{
    font-size:50%;
  }
  
  /*DARCK STYLE*/
  .dark .historial-card:hover{
    background-color: rgb(117, 117, 117);
    border: 1px black solid;
  }