/*DASHADMINISTRADOR STYLE*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contenedor {
  
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}

.alineacionLateral {
  display: flex;
  flex: 1;
}

.profileBar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white; /* Color del texto */
}

.positionNewMultas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: absolute;
  top: 15%;
  left: 27%;
}

.divColor {
  border-radius: 10px;
  background-color: rgba(1, 103, 193, 0.341);
  padding: 1rem; /* Espacio interno */
}

.posicionDiv{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: absolute;
  top: 70%;
  left: 30%;
}

.divBorde{
  border: 1px solid rgb(244, 244, 244);
}

.divPadding{
  padding-left: 20%;
  padding-right: 20%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  
  .posicionDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: absolute;
    top: 75%;
    left: 30%;
  }
}