@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables CSS para los colores */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 100, 100, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 100, 100;
    --background-end-rgb: 1, 1, 124;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to right,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-gradient {
    @apply bg-gradient-to-r from-[var(--background-start-rgb)] to-[var(--background-end-rgb)];
  }
/* Clases personalizadas para cambiar el color de fondo */
  .bg-light-mode {
    background: linear-gradient(
      to right,
      transparent,
      rgb(1, 1, 173)
    ) rgb(140, 213, 207);
  }

  .bg-dark-mode {
    background: linear-gradient(
      to right,
      transparent,
      rgb(1, 1, 90)
    ) rgb(0, 63, 63);
  }
  
}



