.btn {
    padding: 10px 20px;
    background-color: #0070f3;
    border: solid 1px #0070f3;
    color: beige;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
}

.btn:hover {
    background-color: #0053e6;
    border: solid 1px #0053e6;
}