.titulo{
    font-size: 20px;
    font-family: Helvetica;
    font-style: italic;
    background-color: rgba(78, 99, 255, 0.67);
    border-radius: 5px;
}

.posicion{
    position: absolute;
    top: 15%;
    left: 1%;
}
.container {
    display: flex;
    min-height: 50vh;
}

.sidebar {
    width: 200px;
    background-color: #0a02f6;
    color: white;
    padding: 15px;
    border-radius: 2%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #878686;
    padding-left: 10px;
}

.content {
    flex: 1;
    padding: 20px;
}

.profile{
  background-color: #4b45fe7a;
  position: relative;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .titulo{
        font-size: 10px;
        font-family: Helvetica;
        font-style: italic;
        background-color: rgba(78, 99, 255, 0.67);
        border-radius: 5px;
    }
    .sidebar {
        width: auto;
        background-color: #0a02f684;
        color: white;
        padding: auto;
        border-radius: 5%;
    }
    .menu li {
        margin: 5px 0;
    }
    
}